.card {
    border: 5px solid purple;
    padding: 25px;
    width: 25%;
    font-weight: 100;
    background-color: gray;
    color: aliceblue;

}
img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: black;
}
.card:hover {
    scale: 1.05;
}