.container {
    min-height: 100vh;
    background-color: skyblue;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    background-color: chocolate;
    border: 10px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}